@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right bottom, #051937, #10213a, #1b293d, #26313f, #323941);
  margin: 0;
  height: 100vh;
  color: #fff;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% minmax(455px, 455px) ;
  justify-content: space-between;
  grid-template-areas: "code user";
}
@media (max-width: 800px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-areas: "user "
                          "code";
    grid-template-rows: 300px auto;
  }
}
.code{
  grid-area: code;
}
.user{
  grid-area: user;
}
pre{
  color:#fff;
  font-size: 15px;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}
